@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Poppins:ital,wght@1,200&family=Satisfy&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}


body{
    background-color: whitesmoke;
    font-family: "Poppins", sans-serif;
}

.container{
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    padding: 20px;
    max-width: 500px;
    margin: 0px auto;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.main_text{
    font-family: "Poppins", sans-serif;
    text-align: center;
}


.main_image{
    width: 200px;
    height: 200px;
    border-radius: 200px;
    object-fit: cover;
}

.navbar {
    width: 100vw;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    background-color: white;
    justify-content: space-between;
    position: sticky;
    top: 0;
}

.navbar_title {
    user-select: none;
}

.menu_btn {

    padding: 8px;
    border: none;
    outline: none;
    background-color: white;
}

.menu_container {
    width: 150px;
    background-color: white;
    position: fixed;
    top: 50px;
    right: 0px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    align-items: flex-end;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.116);
    transform: translateX(100%);
}

@keyframes slideIn {
    from {
        transform: translateX(100%);

    }
    to {
        transform: translateX(0%);
    }
}

@keyframes slideOut {
    form {
        transform: translateX(0%);
    } 
    to {
        transform: translateX(100%);
    }
}


.menu_container a {
    text-decoration: none;
    color: inherit;
    text-transform: uppercase;
}

.google_map {
    margin-top: 20px;
    margin-bottom: 20px;
}

.galery_item {
    width: 100%;
    margin-top: 20px;
}

.form_submit {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form_submit label{
    margin-top: 10px;

}

.form_submit input {
    height: 35px;
    padding: 0px 8px;
}

.form_submit select {
    height: 35px;
    padding: 0px 8px;
}

.form_submit button {
    height: 35px;
    margin-top: 10px;
}

.form_submit textarea {
    width: 100%;
    height: 150px;
    padding: 8px;
    font-family: inherit;
}

.container_image {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
}